
body{

  width: 960px;
  margin: auto;
  padding: 0px;
}

.social-container{
  float: right;
}

.logo{
  float: left;
  margin-right: 7px;
}

.divider p{
  background-image: url(/images/hr-img.png);
  background-repeat: repeat-x;
  background-size: 10px;
  width: 960px;
  /* position: relative; */
  margin-top: 40px;

}

#main-pic{
  width: 960px;

}

#main-title{
  padding: 50px 0px 30px 0px;
}

#print-button{
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  text-transform: uppercase;
  color: grey;
}

h1{
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

h2{
font-family: 'Pacifico', cursive;
font-size: 2em;
font-style: italic;

}

h3, h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
  color: grey;
}

header{
  margin-top: 20px;
  display: inline-block;
}

#pint{
  padding-right: 10px;
}
p{
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 30px 0px 30px 0px;
  text-indent: 40px;
}

ul{
  font-family: 'Patrick Hand', cursive;
  font-size: 28px;
  color: rgb(130, 90, 66);
}

.column1of2, .column2of2{
  width:400px;
  float: left;
  margin: 30px 30px 30px 50px;
}

#ingredients{
  position: absolute;
  top: 1350px; 
}
h5{
  font-size: 20px;
}

/* footer p{
  font-size: 15px;
} */

/* footer{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.bottomWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}
#profilePic{
  float: left;
  padding-right: 20px;
}

#shareButton{
  /* float: right; */
  left: 400px;
  padding: 20px;
  font-size: 15px;
  background-color: chocolate;
  text-align: center;
  color: white;
}

.author{
  padding-right: 200px;
  color:  grey
}

#authorDescription {
  padding-bottom: 10px;
}
#smallLogo{
  
}

#rights{
  align-content:
  
}